<!DOCTYPE html>
<!-- layout:decorator="blog/layout/basic 참고 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="blog/layout/basic">
 <th:block layout:fragment="content">
		<br>
		<br>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">영산강 자전거길 (목포-담양)</h2>
                            <h3 class="post-subtitle">오늘은 남편과 친구와 함께 영산강 자전거길을 다녀왔어요. 총 122km 거리였고, 새벽부터 출발하니까 점심 시간 지나서 먹먹히 도착했습니다. 그런데 남편은 죽을려고 했습니다. 그러게 자전거좀 타지 싀발쌔기 </h3>
                        </a>
                        <p class="post-meta">
                            2021/10/03 21:51
                        </p>
                    </div>
                    
                    <hr class="my-4" />
                    
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">영산강 자전거길 (목포-담양)</h2>
                            <h3 class="post-subtitle">오늘은 남편과 친구와 함께 영산강 자전거길을 다녀왔어요. 총 122km 거리였고, 새벽부터 출발하니까 점심 시간 지나서 먹먹히 도착했습니다. 그런데 남편은 죽을려고 했습니다. 그러게 자전거좀 타지 싀발쌔기 </h3>
                        </a>
                        <p class="post-meta">
                            2021/10/03 21:51
                        </p>
                    </div>
                    
                    <hr class="my-4" />
                    
                   <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">영산강 자전거길 (목포-담양)</h2>
                            <h3 class="post-subtitle">오늘은 남편과 친구와 함께 영산강 자전거길을 다녀왔어요. 총 122km 거리였고, 새벽부터 출발하니까 점심 시간 지나서 먹먹히 도착했습니다. 그런데 남편은 죽을려고 했습니다. 그러게 자전거좀 타지 싀발쌔기 </h3>
                        </a>
                        <p class="post-meta">
                            2021/10/03 21:51
                        </p>
                    </div>
                    
                    <hr class="my-4" />
                    
					<div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">영산강 자전거길 (목포-담양)</h2>
                            <h3 class="post-subtitle">오늘은 남편과 친구와 함께 영산강 자전거길을 다녀왔어요. 총 122km 거리였고, 새벽부터 출발하니까 점심 시간 지나서 먹먹히 도착했습니다. 그런데 남편은 죽을려고 했습니다. 그러게 자전거좀 타지 싀발쌔기 </h3>
                        </a>
                        <p class="post-meta">
                            2021/10/03 21:51
                        </p>
                    </div>
                    
                    <hr class="my-4" />
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">more →</a></div>
                </div>
            </div>
        </div>   
	</th:block> 
</html>