<!DOCTYPE html>
<!-- layout:decorator="blog/layout/basic 참고 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="blog/layout/basic">
 <th:block layout:fragment="content">
		<br>
		<br>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
					<div th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
						<div class="post-preview" >
							<a th:href="@{/blog/view.do( idx=${row.idx} )}">
	                            <h2 class="post-title" th:text="${row.title}"></h2>
	                            <h3 class="post-subtitle" th:text="${row.content}"></h3>
	                        </a>
	                        <p class="post-meta" th:text="${#temporals.format( row.insertTime, 'yyyy-MM-dd' )}"></p>
						</div>	
						<hr class="my-4" />
					</div>
					<div class="post-preview" th:unless="${not #lists.isEmpty( boardList )}">
						 <h2 class="post-title" >조회된 결과가 없습니다.</h2>
					</div>

                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">more →</a></div>
                </div>
            </div>
        </div>   
	</th:block> 
</html>