<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- fragment는 다른 HTML에서 include 또는 replace 속성을 사용해서 적용할 수 있음 -->
	<head th:fragment="main-head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<th:block layout:fragment="title"></th:block>

		<!--
			th:href	
			<a> 태그의 href 속성과 동일하며, JSTL의 <c:url> 태그와 마찬가지로
			웹 애플리케이션을 구분하는 콘텍스트 경로(Context Path)를 포함합니다.
			추가적으로, application.properties에서 콘텍스트 경로(Context Path)를
			원하는 경로로 변경할 수 있습니다. -->
			
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" />

		<!-- layout:fragment 속성에 이름을 지정해서 실제 Content 페이지의 내용을 채우는 기능입니다. -->
		<th:block layout:fragment="add-css"></th:block>
	</head>
</html>